body {
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
  background-color: #000;
}

.navbar {
  padding: 2% 8% 1%;
}

.navbar-dark {
  background-color: #000;
}

.navbar-item {
  padding: 0 100px;
}

.nav-link {
  font-size: 1.1rem;
  /* margin-left: 10px; */
}

#stills {
  padding: 9% 3% 5%;
  width: 100%;
  display: inline-block;
}

.still-wrap {
  overflow: hidden;
  position: relative;
}

.still-bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
}

.still {
  width: 480px;
  height: 320px;
}

.still-1 {
  background-image: url(new-stills/1.jpg);
  background-size: cover;
  background-position: center;
}

.still-2 {
  background-image: url(new-stills/2.jpg);
  background-size: cover;
  background-position: center;
}

.still-3 {
  background-image: url(new-stills/3.jpg);
  background-size: cover;
  background-position: center;
}
.still-4 {
  background-image: url(new-stills/4.jpg);
  background-size: cover;
  background-position: center;
}

.still-5 {
  background-image: url(new-stills/5.jpg);
  background-size: cover;
  background-position: center;
  background-position-x: center;
}

.still-6 {
  background-image: url(new-stills/6.jpg);
  background-size: cover;
  background-position: center;
}
.still-7 {
  background-image: url(new-stills/7.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

.still-8 {
  background-image: url(new-stills/8.jpg);
  background-size: cover;
  background-position: center;
}

.still-9 {
  background-image: url(new-stills/9.jpg);
  background-size: cover;
  background-position-x: center;
}
.still-10 {
  background-image: url(new-stills/10.jpg);
  background-size: cover;
  background-position: center;
  background-position-x: center;
}

.still-11 {
  background-image: url(new-stills/11.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

.still-12 {
  background-image: url(new-stills/12.jpg);
  background-size: cover;
  background-position-y: top;
  background-position-x: left;
}

#Showreel {
  padding: 1% 10% 3%;
  text-align: center;
  color: #f1e1cd;
}

.video {
  padding: 2% 0%;
}

.video-content {
  padding: 8% 9%;
}

.showreel-button {
  background-color: #6c0000;
  padding: 3px 20px;
  border-radius: 30px;
  color: #f1e1cd;
  border: none;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3%;
}

#about {
  padding: 3% 10%;
  /* text-align: left; */
  color: #f1e1cd;
}

.iam {
  /* background-color: #6c0000; */
  border-bottom: #6c0000 6px solid;
  padding: 0px 3px;
  /* border-radius: 30px; */
  color: #f1e1cd;
}

.show-wrap {
  overflow: hidden;
  position: relative;
}

.show-bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
}

.show-content {
  position: relative;
}
.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: auto;
}

.demo-content {
  position: relative;
}

.back-img {
  position: absolute;
}

.about-heading {
  text-align: center;
  padding-bottom: 4%;
  color: #f1e1cd;
}

.img-aziz {
  width: 400px;
  height: 600px;
  background-image: url(/photos/aziz-elgarf.jpg);
  background-size: cover;
  background-position: bottom;
  /* border-radius: 100%; */

  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
}

.photo-aziz {
  text-align: center;
}

.img-aziz {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin: 0 10px;
}

.signature {
  background-color: #6c0000;
  padding: 2px 12px;
  border-radius: 10px 0px 10px 0px;
  z-index: 99;
}

.passion {
  /* background-color: #6c0000; */
  padding: 2px 5px;
  /* border-radius: 30px; */
  color: #f1e1cd;
  border: #6c0000 solid 3px;
}

.heading-text {
  padding: 18% 0% 2%;
  line-height: 130%;
}

.para {
  padding: 2% 0% 5%;
}

/* CONTACT */
#Contact {
  padding: 1% 20%;
  background-color: #f1e1cd;
  text-align: center;
}

.contact-back {
  background-color: #f1e1cd;
}

.contact-heading {
  text-align: center;
  color: #6c0000;
}

.class-label {
  color: #6c0000;
}

.form-submit {
  text-align: center;
  padding: 40px 8px;
}

.form-btn {
  background-color: #6c0000;
  padding: 3px 20px;
  border-radius: 30px;
  color: #f1e1cd;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

/* FOLLOW */
#follow {
  text-align: center;
}

.fa-youtube {
  color: #f1e1cd;
}

.logo-footer {
  vertical-align: top;
}

@media (max-width: 1300px) {
  .still {
    width: 460px;
    height: 270px;
  }
}

@media (max-width: 991px) {
  #stills {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: block;
    width: 100%;
  }

  #Showreel {
    padding: 1% 0% 3%;
    text-align: center;
    color: #f1e1cd;
  }

  .video {
    padding: 0% 0%;
    height: 600px;
  }

  #about {
    text-align: center;
  }

  .passion {
    margin: 15% 0;
  }

  .demo-bg {
    /* opacity: 0.1; */
    position: absolute;
    left: 0;
    top: 0;
    width: 170%;
    height: auto;
    transform: scale(8);
    background-position-y: top;
  }

  .img-aziz {
    height: 500px;
    width: 290px;
    text-align: center;
    padding: 70px 0px;
    margin: auto;
    display: block;
  }

  .photo-title {
    padding: 10% 0;
  }

  .heading-text {
    padding: 10% 0 5%;
  }

  .para {
    padding: 0 5% 5%;
  }

  .still-5 {
    background-image: url(new-stills/5.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
  }

  .still {
    width: 600px;
    height: 270px;
  }

  /* #Contact {
    padding: 1% 10%;
    background-color: #f1e1cd;
    text-align: center;
  } */
}

@media (max-width: 767px) {
  #stills {
    width: 100%;
    padding: 13% 0;
  }

  .still {
    width: 600px;
    height: 270px;
  }

  .still-1 {
    background-image: url(new-stills/1.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: top;
  }

  .still-11 {
    background-image: url(new-stills/11.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: bottom;
  }
  .still-12 {
    background-image: url(new-stills/12.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: bottom;
  }
}
